<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16185717918-jg7ri5avs1fkb3phm5nff5sp0b2o54mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16185717918-jg7ri5avs1fkb3phm5nff5sp0b2o54mq</string>
	<key>API_KEY</key>
	<string>AIzaSyBMiEs4D8ctp-oHLpHQGxBmD8MZ1zlZ_M0</string>
	<key>GCM_SENDER_ID</key>
	<string>16185717918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-1c09c</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-1c09c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16185717918:ios:7fd663a57637980214b78f</string>
	<key>DATABASE_URL</key>
	<string>https://whatsapp-clone-1c09c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>